.watching-room {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    > .wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .loading {
        position: absolute;
        top: 0;
        left: 0; 
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0,0,0,.5);
    }

    .loading-icon-wrapper {
        width: 50px;
        height: 50px;
    
        position: relative;;
    
        & .icon-front {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);;
    
            font-size: 2em;
        }
    
        & .icon-back {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            animation-name: anim-loading-icon;
            animation-duration: .5s;
            animation-iteration-count: infinite;
    
            font-size: 2em;
        }
    
        & .icon-bigger {
            font-size: 4em;
        }
    }

    .center-controls {
        .playpause-button {
            transition: .2s all;
            font-size: 2em;
            margin-left: 30px;
            margin-right: 30px;
        }
    
        .fast-button {
            transition: .2s all;
            font-size: 2em;
        }
    }

    .bg-control-layer {
        background: linear-gradient(0deg, rgba(47,42,126,0) 0%, rgba(0,0,0,0.5) 0%, rgba(7,7,93,0) 20%, rgba(1,1,17,0) 80%, rgba(0,0,0,0.5) 100%);
    }
}

@keyframes anim-loading-icon {
    0%   {
        transform: translate(-50%,-50%) scale(1);
        opacity: 0.5;
    }
    100% {
        transform: translate(-50%,-50%) scale(3);
        opacity: 0;
    }
}